= simple_form_for([:admin, topic, unit.to_model]) do |f|
  = f.input :name, label: "Название дидактической единицы", placeholder: "Введите название дидактической единицы"
  = f.button :submit, class: "hollow button"
